.header {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.header__left-section {
    display: none;
}

.header__logo {
    font-family: "Afacad Flux", sans-serif;
    font-size: 30px;
    font-weight: 300 !important;
}

.header__right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.header__wish-link i {
    font-size: 20px;
}

.header-link {
    text-decoration: none;
}

.amazon-logo {
    width: 100px;
    margin-top: 5px;
}

.amazon-mobile-logo {
    display: none;
}

@media (max-width: 575px) {
    .amazon-logo {
        display: none;
    }

    .amazon-mobile-logo {
        display: block;
        height: 35px;
        margin-top: 5px;
    }
}

.header__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    height: 40px;
}

.search-bar {
    background-color: transparent;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0 15px;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding: 0;
}

.orders-link {
    color: white;
}

.returns-text {
    display: block;
    font-size: 13px;
}

.orders-text {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

.cart-link {
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
}

.cart-quantity {
    font-family: "Afacad Flux", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(101, 101, 249);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width < 1000px) {
    .header {
        padding: 0 15px;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .header__left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }

    .header__right-section {
        column-gap: 15px;
    }
    .header__search-form {
        display: none;
    }

    .burger-btn {
        position: relative;
        width: 30px;
        padding: 15px 0;
        cursor: pointer;
        box-sizing: border-box;
    }

    .burger-btn::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        transform: translateY(-5px);
        transition: transform 0.3s 0.3s, rotate 0.3s;
    }

    .burger-btn::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        transform: translateY(5px);
        transition: transform 0.3s 0.3s, rotate 0.3s;
    }
    .burger-btn--active::before {
        transform: translateY(0px);
        rotate: 45deg;
        transition: transform 0.3s, rotate 0.3s 0.3s;
    }

    .burger-btn--active::after {
        transform: translateY(0px);
        rotate: -45deg;
        transition: transform 0.3s, rotate 0.3s 0.3s;
    }
}
